extends templates/layout

block mainContent
  .container
    h2 Welcome to the Gulpify.
    p It is a simple boilerplate to automate your front-end workflow. It uses Gulp as a task runner and BrowserSync to reload the browser automatically. It also includes a few other useful plugins to help you write better code.
    h3 Advantage
    ul 
      each item in advantages
        li
          h3= item.title
          p= item.description
          span= item.benefit
    h3 Reviews
    ul 
      each review in reviews
        li
          h3= review.author
          p= review.comment
